@media only screen and (max-width: 1024px) {
  .container_umbrella {
    max-width: 600px;
  }

  .bt {
    height: 40px;
    font-size: 13px;
  }

  .whattsapp {
    width: 18px;
  }

  .titulo-1 {
    // font-size: 45px;
  }

  .titulo-2 {
    font-size: 40px;
  }

  .titulo-4 {
    font-size: 20px;
  }

  .paragrafo-1 {
    font-size: 19px;
  }

  .paragrafo-2 {
    font-size: 15px;
  }

  .link-3 {
    font-size: 12px;
  }

  #btn-mobile {
    display: block;
    border: 0;
    cursor: pointer;

    .block_bar {
      display: inline-block;
      position: absolute;
      top: 30px;
      right: 50px;
      z-index: 10;

      .bar {
        width: 35px;
        height: 2px;
        background-color: #000;
        margin: 9px 0;
        transition: 0.3s;
        border-radius: 25px;
      }
    }
  }

  header {
    .block_bar {
      display: none;
    }

    #nav.active .itens {
      visibility: visible;
      height: 36%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      width: 40vw;
    }

    .itens {
      position: absolute;
      width: 0;
      top: 103px;
      right: 10px;
      // background: rgba(97, 90, 90, 0.685);
      background: #fff;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      transition: 0.5s;
      overflow-y: hidden;
      padding: 10px 0;

      a {
        display: flex;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 0;
        margin: 0 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
      }
    }
  }

  #banner {
    padding-top: 100px;

    .underline {
      img {
        width: 180px;
      }
    }
    .title {
      .aviao {
        display: none;
      }
      .carimbo {
        display: none;
      }
    }

    .video {
    }
  }

  #quem-somos {
    p {
      font-size: 15px;
      line-height: 18px;
    }

    .image {
      display: none;
      width: 410px;
      position: relative;
      bottom: -15px;
    }
  }

  #registro_marca {
    padding-top: 50px;
    padding-bottom: 50px;

    .container_umbrella {
      max-width: 660px;
      .content {
        .box-left {
          display: none;
        }
        .box-middle {
          padding-bottom: 165px;
          margin-left: auto;
          margin-right: auto;

          p {
            max-width: 560px;
          }

          p + * {
            margin-top: 30px;
          }
        }

        .box-right {
          display: none;
        }
      }
      .p_bot {
        margin-top: -120px;
      }
    }
  }

  #valores {
    .container_umbrella {
      gap: 50px;
    }
    .quadrados {
      flex-direction: column;
      gap: 50px;
      align-items: center;

      .square {
        padding: 40px 20px;
      }
    }
    .bt {
      width: 400px;
    }
  }

  #como_funciona {
    .container_umbrella {
      justify-content: center;
    }

    .image {
      display: none;
    }

    .botao {
      display: flex;
      justify-content: center;
    }

    .list {
      h2 + * {
        margin-top: 42px;
      }

      ul {
        display: grid;
        gap: 10px;
      }
    }
  }

  #contato {
    padding-top: 80px;
    .container_umbrella {
      flex-direction: column;
      gap: 70px;
      align-items: center;

      .contatos {
        width: 100%;
      }
      .formulario {
        width: 100%;
      }
    }
    .bt {
      height: 55px;
    }
  }

  #rodape {
    .container_umbrella {
      .navegacao {
        gap: 13px;

        a {
          font-weight: 500;
        }
      }
    }
  }
}
