@media only screen and (max-width: 1200px) {
  .container_umbrella {
    max-width: 930px;
  }

  .bt {
    height: 50px;
    font-size: 16px;
  }

  .whattsapp {
    width: 20px;
  }

  .titulo-1 {
    font-size: 55px;
  }

  .titulo-2 {
    font-size: 42px;
  }

  .titulo-3 {
    font-size: 28px;
  }

  header {
    .itens {
      gap: 0.2vw;

      a {
        font-size: 15px;
      }
    }
  }

  #banner {
    padding-top: 90px;

    .underline {
      img {
        width: 195px;
      }
    }

    .title {
      .aviao {
        left: -3.8vw;
        top: 10px;
      }
      .carimbo {
        right: 1vw;
        top: 20px;
      }
    }
  }

  #quem-somos {
    .image {
      width: 429px;
      position: relative;
      bottom: -44px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
    }

    .text {
      h2 + * {
        margin-top: 16px;
      }
    }
  }

  #registro_marca {
    padding-top: 50px;
    padding-bottom: 50px;

    .container_umbrella {
      max-width: 1050px;
      .content {
        .box-left {
          bottom: 80px;
          left: -50px;
          img {
            width: 150px;
          }
        }
        .box-middle {
          padding-bottom: 75px;

          p + * {
            margin-top: 40px;
          }
        }

        .box-right {
          right: -35px;
          top: -15px;
          img {
            width: 175px;
          }
        }
      }

      .p_bot {
        margin-top: -40px;
      }
    }
  }

  #valores {
    padding-top: 70px;
    padding-bottom: 50px;

    .container_umbrella {
      gap: 20px;
    }

    .quadrados {
      gap: 20px;
    }
    .square {
      padding: 25px 10px;

      h3 {
        margin-top: 12px;
      }

      p {
        font-size: 15px;
        line-height: 21px;
      }

      img {
        width: 48px;
      }
    }
  }
}
