@media only screen and (max-width: 1200px) {
  .container_umbrella {
    max-width: 930px;
  }
  .bt {
    height: 50px;
    font-size: 16px;
  }
  .whattsapp {
    width: 20px;
  }
  .titulo-1 {
    font-size: 55px;
  }
  .titulo-2 {
    font-size: 42px;
  }
  .titulo-3 {
    font-size: 28px;
  }
  header .itens {
    gap: 0.2vw;
  }
  header .itens a {
    font-size: 15px;
  }
  #banner {
    padding-top: 90px;
  }
  #banner .underline img {
    width: 195px;
  }
  #banner .title .aviao {
    left: -3.8vw;
    top: 10px;
  }
  #banner .title .carimbo {
    right: 1vw;
    top: 20px;
  }
  #quem-somos .image {
    width: 429px;
    position: relative;
    bottom: -44px;
  }
  #quem-somos p {
    font-size: 15px;
    line-height: 22px;
  }
  #quem-somos .text h2 + * {
    margin-top: 16px;
  }
  #registro_marca {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #registro_marca .container_umbrella {
    max-width: 1050px;
  }
  #registro_marca .container_umbrella .content .box-left {
    bottom: 105px;
    left: -5px;
  }
  #registro_marca .container_umbrella .content .box-left img {
    width: 150px;
  }
  #registro_marca .container_umbrella .content .box-middle {
    padding-bottom: 103px;
  }
  #registro_marca .container_umbrella .content .box-middle p {
    font-size: 21.5px;
  }
  #registro_marca .container_umbrella .content .box-middle p + * {
    margin-top: 40px;
  }
  #registro_marca .container_umbrella .content .box-right {
    right: 5px;
    top: -20px;
  }
  #registro_marca .container_umbrella .content .box-right img {
    width: 175px;
  }
  #registro_marca .container_umbrella .p_bot {
    margin-top: -40px;
  }
  #valores {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  #valores .container_umbrella {
    gap: 20px;
  }
  #valores .quadrados {
    gap: 20px;
  }
  #valores .square {
    padding: 25px 10px;
  }
  #valores .square h3 {
    margin-top: 12px;
  }
  #valores .square p {
    font-size: 15px;
    line-height: 21px;
  }
  #valores .square img {
    width: 48px;
  }
}
