@media only screen and (max-width: 1300px) {
  #registro_marca .content .box-left {
    bottom: 45px;
    left: 18px;
  }
  #registro_marca .content .box-left .martelo {
    width: 175px;
  }
  #registro_marca .content .box-middle {
    padding-bottom: 58px;
    margin-left: -93px;
    margin-right: -75px;
  }
  #registro_marca .content .box-middle p {
    font-size: 23.5px;
  }
  #registro_marca .content .box-right {
    top: -25px;
    right: 25px;
  }
  #registro_marca .content .box-right .megafone {
    width: 210px;
  }
}
