@media only screen and (max-width: 1400px) {
  .container_umbrella {
    max-width: 1200px;
  }

  .titulo-1 {
    font-size: 70px;
  }

  header {
    .logo {
      max-width: 152px;
    }
    .itens {
      gap: 2vw;
    }
  }

  #banner {
    padding-top: 120px;

    .underline {
      img {
        width: 220px;
      }
    }

    .title {
      .aviao {
        left: -2.8vw;
      }
      .carimbo {
        right: 2vw;
      }
    }
  }

  #quem-somos {
    .image {
      width: 500px;
    }
  }

  #registro_marca {
    .container_umbrella {
      max-width: 1320px;

      .p_bot {
      }
    }
    .content {
      .box-left {
        bottom: 30px;
      }
      .box-middle {
        padding-bottom: 38px;
      }
    }
  }

  #valores {
    .square {
      padding: 40px 30px;
    }
  }
}
