@media only screen and (max-width: 1024px) {
  .container_umbrella {
    max-width: 600px;
  }
  .bt {
    height: 40px;
    font-size: 13px;
  }
  .whattsapp {
    width: 18px;
  }
  .titulo-1 {
    font-size: 45px;
  }
  .titulo-2 {
    font-size: 38px;
  }
  .titulo-3 {
    font-size: 26.5px;
  }
  .titulo-4 {
    font-size: 16px;
  }
  .paragrafo-1 {
    font-size: 18px;
  }
  .paragrafo-2 {
    font-size: 14.5px;
  }
  .link-3 {
    font-size: 14px;
  }
  header .container_umbrella {
    max-width: 1000px;
  }
  header .logo {
    max-width: 132px;
  }
  header .block_bar {
    z-index: 10;
    display: flex;
  }
  header .itens {
    position: fixed;
    top: 0;
    right: 0;
    width: 290px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    z-index: 100;
    background-color: #fff;
    padding-left: 28px;
    gap: 15px;
    overflow-y: auto;
    transform: translateX(100%);
    -webkit-transition: 0.3s;
    opacity: 0;
  }
  header .itens li a {
    padding: 0;
    font-size: 19px;
  }
  header .itens.active {
    transform: translateX(0%);
    transition: 0.3s;
    opacity: 1;
  }
  header .bg-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    opacity: 0;
    display: none;
  }
  header .bg-mobile.active {
    display: block;
    opacity: 1;
    z-index: 15;
  }
  header .close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 25px;
    width: 25px;
    fill: var(--primary-color);
  }
  #banner {
    padding-top: 35px;
  }
  #banner .underline img {
    width: 180px;
  }
  #banner .title .aviao {
    display: none;
  }
  #banner .title .carimbo {
    display: none;
  }
  #banner .title + * {
    margin-top: 30px;
  }
  #quem_somos {
    padding-top: 180px;
    padding-bottom: 50px;
  }
  #quem_somos .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #quem_somos .text h2 img {
    width: 26px;
    top: -8px;
  }
  #quem_somos p {
    font-size: 15.5px;
    line-height: 20px;
    text-align: center;
  }
  #quem_somos .image {
    display: none;
    width: 410px;
    position: relative;
    bottom: -15px;
  }
  #registro_marca {
    padding-top: 35px;
    padding-bottom: 25px;
  }
  #registro_marca .container_umbrella {
    max-width: 660px;
  }
  #registro_marca .container_umbrella .content .box-left {
    display: none;
  }
  #registro_marca .container_umbrella .content .box-middle {
    padding-bottom: 185px;
    margin-left: auto;
    margin-right: auto;
  }
  #registro_marca .container_umbrella .content .box-middle p {
    max-width: 560px;
  }
  #registro_marca .container_umbrella .content .box-middle p + * {
    margin-top: 25px;
  }
  #registro_marca .container_umbrella .content .box-right {
    display: none;
  }
  #registro_marca .container_umbrella .p_bot {
    margin-top: -135px;
  }
  #valores {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  #valores .container_umbrella {
    gap: 30px;
  }
  #valores .quadrados {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  #valores .quadrados .square {
    max-width: 355px;
    padding: 40px 20px;
  }
  #valores .quadrados .square h3 {
    margin-top: 8px;
  }
  #valores .quadrados .square p {
    max-width: 300px;
    font-size: 14px;
  }
  #valores .quadrados + * {
    margin-top: 15px;
  }
  #valores .bt {
    width: 360px;
  }
  #como_funciona {
    padding-top: 28px;
    padding-bottom: 35px;
  }
  #como_funciona .paragrafo-2 {
    font-size: 13.5px;
  }
  #como_funciona .container_umbrella {
    justify-content: center;
  }
  #como_funciona .image {
    display: none;
  }
  #como_funciona .botao {
    display: flex;
    justify-content: center;
  }
  #como_funciona .list .item:nth-child(odd) {
    background-color: #f9e372;
  }
  #como_funciona .list ul + * {
    margin-top: 2px;
  }
  #como_funciona .list .item {
    gap: 10px;
  }
  #como_funciona .list h2 .underline img {
    bottom: -5px;
  }
  #como_funciona .list h2 + * {
    margin-top: 20px;
  }
  #faq {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  #faq .paragrafo-1 {
    font-size: 18px;
  }
  #faq h2 {
    margin-bottom: 20px;
  }
  #faq h2 .detalhe img {
    width: 26px;
    top: -8px;
  }
  #faq .duvida {
    padding: 18px 28px 18px 33px;
  }
  #faq .content-icon svg {
    width: 26px;
  }
  #faq .perguntas {
    margin-bottom: 15px;
  }
  #redes_sociais {
    background-color: var(--primary-color);
    padding-top: 50px;
  }
  #redes_sociais .container_umbrella {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  #redes_sociais .container_umbrella .image {
    max-width: 330px;
  }
  #acompanhe {
    padding-top: 155px;
  }
  #acompanhe .redes-sociais {
    padding-top: unset;
    flex-direction: column;
  }
  #acompanhe .text {
    max-width: 348px;
    text-align: center;
    margin-bottom: unset;
    margin-left: unset;
  }
  #acompanhe .text img {
    top: -14px;
    max-width: 230px;
  }
  #acompanhe .image {
    display: flex;
    justify-content: unset;
    gap: 50px;
    padding-right: 30px;
  }
  #acompanhe .image .box-left {
    max-width: 222px;
  }
  #acompanhe .image .box-left .laptop + * {
    margin-top: 11px;
  }
  #acompanhe .image .box-right {
    max-width: 173px;
  }
  #acompanhe .image .box-right a {
    margin-left: -5px;
  }
  #acompanhe .image .links {
    display: none;
  }
  #acompanhe .bt {
    font-size: 14.5px;
  }
  #acompanhe .bt img {
    width: 20px;
  }
  #clientes {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  #clientes .owl-carousel .owl-stage img {
    height: 120px;
  }
  #clientes .owl-carousel .owl-stage img + img {
    margin-top: 20px;
  }
  #clientes .owl-carousel + * {
    margin-top: 10px;
  }
  #clientes h2 {
    margin: 0;
  }
  #clientes h2 .detalhe img {
    width: 26px;
    top: -8px;
  }
  #clientes h2 + * {
    margin-top: 10px;
  }
  #contato {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  #contato .container_umbrella {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  #contato .container_umbrella .contato-lista {
    gap: 5px;
  }
  #contato .container_umbrella .contato-lista li {
    gap: 10px;
  }
  #contato .container_umbrella .contato-lista li img {
    width: 18px;
  }
  #contato .container_umbrella .contatos h2 {
    text-align: center;
  }
  #contato .container_umbrella .contatos h2 + * {
    margin-top: 10px;
  }
  #contato .container_umbrella .formulario {
    max-width: 420px;
  }
  #contato .container_umbrella .formulario input {
    height: 35px;
    font-size: 13px;
  }
  #contato .container_umbrella .formulario textarea {
    height: 110px;
    padding: 10px;
    font-size: 13px;
  }
  #contato .container_umbrella .formulario textarea + * {
    margin-top: 12px;
  }
  #contato .container_umbrella .underline img {
    width: 150px;
    bottom: -1px;
  }
  #rodape {
    padding-top: 20px;
  }
  #rodape .container_umbrella .seta {
    top: -10px;
    width: 40px;
  }
  #rodape .container_umbrella .logo {
    max-width: 180px;
  }
  #rodape .container_umbrella .logo + * {
    margin-top: 15px;
  }
  #rodape .container_umbrella nav + * {
    margin-top: 15px;
  }
  #rodape .container_umbrella .navegacao {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  footer .container_umbrella span {
    font-size: 15px;
  }
  footer .container_umbrella .codie-link img {
    max-width: 60px;
  }
}
