@media only screen and (max-width: 1024px) {
  .container_umbrella {
    max-width: 600px;
  }

  .bt {
    height: 40px;
    font-size: 13px;
  }

  .whattsapp {
    width: 18px;
  }

  .titulo-1 {
    font-size: 50px;
  }

  .titulo-2 {
    font-size: 38px;
  }

  .titulo-4 {
    font-size: 16.5px;
  }

  .paragrafo-1 {
    font-size: 18px;
  }

  .paragrafo-2 {
    font-size: 14.5px;
  }

  .link-3 {
    font-size: 12px;
  }

  header {
    .container_umbrella {
      max-width: 1000px;
    }

    .logo {
      max-width: 132px;
    }

    .block_bar {
      z-index: 10;
      display: flex;
    }

    .itens {
      position: fixed;
      top: 0;
      right: 0;
      width: 290px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      z-index: 100;
      background-color: #fff;
      padding-left: 28px !important;
      gap: 15px;
      overflow-y: auto;
      transform: translateX(100%);
      -webkit-transition: 0.3s;
      opacity: 0;

      li {
        a {
          padding: 0;
        }
      }
    }

    .itens.active {
      transform: translateX(0%);
      transition: 0.3s;
      opacity: 1;
    }

    .bg-mobile {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
      opacity: 0;
      display: none;
    }

    .bg-mobile.active {
      display: block;
      opacity: 1;
      z-index: 15;
    }

    .close {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      height: 25px;
      width: 25px;
      fill: var(--primary-color);
    }
  }

  #banner {
    padding-top: 65px;

    .underline {
      img {
        width: 180px;
      }
    }
    .title {
      .aviao {
        display: none;
      }
      .carimbo {
        display: none;
      }
    }

    .video {
    }
  }

  #quem_somos {
    padding-bottom: 50px;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      font-size: 15.5px;
      line-height: 20px;
      text-align: center;
    }

    .image {
      display: none;
      width: 410px;
      position: relative;
      bottom: -15px;
    }
  }

  #registro_marca {
    padding-top: 50px;
    padding-bottom: 50px;

    .container_umbrella {
      max-width: 660px;
      .content {
        .box-left {
          display: none;
        }
        .box-middle {
          padding-bottom: 165px;
          margin-left: auto;
          margin-right: auto;

          p {
            max-width: 560px;
          }

          p + * {
            margin-top: 30px;
          }
        }

        .box-right {
          display: none;
        }
      }
      .p_bot {
        margin-top: -135px;
      }
    }
  }

  #valores {
    padding-top: 50px;

    .container_umbrella {
      gap: 30px;
    }
    .quadrados {
      flex-direction: column;
      gap: 15px;
      align-items: center;

      .square {
        padding: 40px 20px;

        p {
          max-width: 370px;
        }
      }
    }
    .bt {
      width: 400px;
    }
  }

  #como_funciona {
    padding-top: 50px;
    padding-bottom: 50px;

    .container_umbrella {
      justify-content: center;
    }

    .image {
      display: none;
    }

    .botao {
      display: flex;
      justify-content: center;
    }

    .list {
      h2 + * {
        margin-top: 35px;
      }

      ul {
        display: grid;
        gap: 5px;
      }
    }
  }

  #faq {
    padding-top: 50px;
    padding-bottom: 30px;

    .paragrafo-1 {
      font-size: 19px;
    }

    .duvida {
      padding: 20px 30px 20px 35px;
    }
  }

  #contato {
    padding-top: 80px;
    .container_umbrella {
      flex-direction: column;
      gap: 25px;
      align-items: center;

      .contato-lista {
        li {
          margin-top: 10px;
        }
      }

      .contatos {
        width: 100%;

        h2 + * {
          margin-top: 15px;
        }
      }
      .formulario {
        width: 100%;

        input {
          height: 50px;
        }

        textarea {
          height: 150px;
        }
      }
    }
    .bt {
      height: 55px;
    }
  }

  #redes_sociais {
    background-color: var(--primary-color);
    padding-top: 50px;
    .container_umbrella {
      flex-direction: column;
      align-items: center;
      gap: 15px;

      .image {
        max-width: 350px;
      }
    }
  }

  #acompanhe {
    .redes-sociais {
      display: grid;
      padding-top: 0;
    }
    .text {
      max-width: 580px;
      text-align: center;

      img {
        margin-left: 175px;
        max-width: 230px;
      }
    }

    .image {
      display: flex;
      justify-content: space-between;
      .box-left {
        max-width: 262px;

        .laptop + * {
          margin-top: 22px;
        }

        a {
          display: inline-flex;
        }
      }

      .box-right {
        max-width: 213px;

        a {
          display: inline-flex;
          margin-left: -5px;
        }
      }

      .links {
        display: none;
      }
    }

    .bt {
      font-size: 14.5px;

      img {
        width: 20px;
      }
    }
  }

  #clientes {
    padding-top: 50px;
    padding-bottom: 50px;

    h2 + * {
      margin-top: 10px;
    }
  }

  #contato {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  #rodape {
    padding-top: 10px;
    .container_umbrella {
      .seta {
        top: -10px;
      }

      .logo {
        max-width: 200px;
      }

      .logo + * {
        margin-top: 35px;
      }

      nav + * {
        margin-top: 30px;
      }

      .navegacao {
        gap: 13px;

        a {
          font-weight: 500;
        }
      }
    }
  }
}
