@media only screen and (max-width: 1400px) {
  .container_umbrella {
    max-width: 1080px;
  }
  .bt {
    height: 55px;
  }
  .titulo-1 {
    font-size: 70px;
  }
  .titulo-2 {
    font-size: 42px;
  }
  .titulo-3 {
    font-size: 30px;
  }
  header .logo {
    max-width: 142px;
  }
  header .itens {
    gap: 1vw;
  }
  header .itens a {
    font-size: 17px;
  }
  #banner {
    padding-top: 120px;
  }
  #banner .underline img {
    width: 220px;
  }
  #banner .title .aviao {
    left: -5vw;
    top: 20px;
  }
  #banner .title .carimbo {
    right: 0;
  }
  #quem_somos .text h2 img {
    width: 30px;
    top: -12px;
  }
  #quem_somos .image {
    max-width: 485px;
  }
  #quem_somos p {
    font-size: 15.5px;
  }
  #registro_marca {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  #registro_marca .container_umbrella {
    max-width: 1320px;
  }
  #registro_marca .content .box-left {
    bottom: 45px;
    left: 18px;
  }
  #registro_marca .content .box-left .martelo {
    width: 195px;
  }
  #registro_marca .content .box-middle {
    padding-bottom: 50px;
    margin-left: -98px;
    margin-right: -80px;
  }
  #registro_marca .content .box-right {
    top: -25px;
    right: 18px;
  }
  #registro_marca .content .box-right .megafone {
    width: 230px;
  }
  #valores .quadrados {
    gap: 20px;
  }
  #valores .quadrados + * {
    margin-top: 20px;
  }
  #valores .square {
    padding: 40px 20px;
  }
  #valores .square p {
    font-size: 15.5px;
  }
  #como_funciona .titulo-2 {
    font-size: 37px;
  }
  #como_funciona .paragrafo-2 {
    font-size: 15.5px;
  }
  #como_funciona .image {
    width: 437.75px;
    height: 458.15px;
  }
  #como_funciona .list {
    max-width: 580px;
  }
  #como_funciona .list .underline img {
    right: 10px;
  }
  #como_funciona .list h2 img {
    width: 170px;
  }
  #como_funciona .list ul + * {
    margin-top: 15px;
  }
  #como_funciona .item {
    gap: 15px;
  }
  #faq {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #faq .paragrafo-1 {
    font-size: 23px;
  }
  #faq .container_umbrella {
    max-width: 1250px;
  }
  #faq h2 {
    margin-bottom: 30px;
  }
  #faq h2 .detalhe img {
    width: 30px;
    top: -12px;
  }
  #faq .content .box-left img {
    width: 148px;
  }
  #faq .content .box-right img {
    width: 157px;
  }
  #faq .perguntas {
    margin-bottom: 18px;
  }
  #redes_sociais {
    padding-top: 60px;
  }
  #redes_sociais .container_umbrella {
    margin-bottom: -160px;
    gap: 16px;
  }
  #redes_sociais .container_umbrella .image {
    max-width: 310px;
  }
  #acompanhe {
    padding-top: 160px;
  }
  #acompanhe .text {
    margin-left: 40px;
    max-width: 362px;
  }
  #acompanhe .text img {
    max-width: 250px;
    top: -10px;
  }
  #acompanhe .image {
    gap: 110px;
    padding-right: 55px;
  }
  #acompanhe .image .box-left {
    max-width: 262px;
  }
  #acompanhe .image .box-left .laptop + * {
    margin-top: 21px;
  }
  #acompanhe .image .box-left a {
    display: inline-flex;
    margin-left: -20px;
  }
  #acompanhe .image .box-right {
    max-width: 213px;
  }
  #acompanhe .image .box-right a {
    display: inline-flex;
    margin-left: -20px;
  }
  #acompanhe .image .links {
    display: none;
  }
  #acompanhe .bt {
    height: 45px;
    font-size: 15px;
  }
  #acompanhe .bt img {
    width: 23px;
  }
  #clientes {
    padding-top: 70px;
  }
  #contato .container_umbrella {
    gap: 50px;
  }
  #contato .container_umbrella .contato-lista {
    gap: 12px;
  }
  #contato .container_umbrella .formulario {
    max-width: 550px;
  }
  #contato .container_umbrella .formulario input {
    height: 50px;
  }
  #contato .container_umbrella .formulario textarea {
    height: 160px;
  }
  #contato .container_umbrella .underline img {
    width: 200px;
  }
}
