@media only screen and (max-width: 1400px) {
  .container_umbrella {
    max-width: 1080px;
  }
  .bt {
    height: 55px;
  }
  .titulo-1 {
    font-size: 65px;
  }
  .titulo-3 {
    font-size: 30px;
  }
  header .logo {
    max-width: 142px;
  }
  header .itens {
    gap: 1vw;
  }
  header .itens a {
    font-size: 17px;
  }
  #banner {
    padding-top: 120px;
  }
  #banner .underline img {
    width: 220px;
  }
  #banner .title .aviao {
    left: -5vw;
    top: 20px;
  }
  #banner .title .carimbo {
    right: 0;
  }
  #quem_somos .image {
    max-width: 485px;
  }
  #quem_somos p {
    font-size: 15.5px;
  }
  #registro_marca .container_umbrella {
    max-width: 1320px;
  }
  #registro_marca .content .box-left {
    bottom: 45px;
    left: 18px;
  }
  #registro_marca .content .box-left .martelo {
    width: 195px;
  }
  #registro_marca .content .box-middle {
    padding-bottom: 50px;
    margin-left: -98px;
    margin-right: -80px;
  }
  #registro_marca .content .box-right {
    top: -25px;
    right: 18px;
  }
  #registro_marca .content .box-right .megafone {
    width: 230px;
  }
  #valores .square {
    padding: 40px 20px;
  }
  #valores .square p {
    font-size: 15.5px;
  }
  #como_funciona .image {
    width: 437.75px;
    height: 458.15px;
  }
  #como_funciona .list {
    max-width: 580px;
  }
  #como_funciona .list h2 {
    font-size: 37px;
  }
  #como_funciona .list h2 img {
    width: 170px;
  }
  #contato .container_umbrella .formulario {
    max-width: 550px;
  }
  #faq .container_umbrella {
    max-width: 1250px;
  }
  #acompanhe .text {
    max-width: 362px;
  }
  #acompanhe .image {
    gap: 110px;
    padding-right: 55px;
  }
  #acompanhe .image .box-left {
    max-width: 262px;
  }
  #acompanhe .image .box-left .laptop + * {
    margin-top: 19px;
  }
  #acompanhe .image .box-left a {
    display: inline-flex;
  }
  #acompanhe .image .box-right {
    max-width: 213px;
  }
  #acompanhe .image .box-right a {
    display: inline-flex;
  }
  #acompanhe .image .links {
    display: none;
  }
  #acompanhe .bt {
    height: 45px;
    font-size: 15.5px;
  }
  #acompanhe .bt img {
    width: 25px;
  }
}
