@media only screen and (max-width: 1400px) {
  .container_umbrella {
    max-width: 1080px;
  }

  .bt {
    height: 55px;
  }

  .titulo-1 {
    font-size: 70px;
  }

  .titulo-2 {
    font-size: 42px;
  }

  .titulo-3 {
    font-size: 30px;
  }

  .titulo-4 {
    font-size: 18px;
  }

  header {
    .logo {
      max-width: 142px;
    }
    .itens {
      gap: clamp(15px, 1vw, 46px);

      a {
        font-size: 17px;
      }
    }
  }

  #banner {
    padding-top: 120px;

    .underline {
      img {
        width: 220px;
      }
    }

    .title {
      .aviao {
        left: -5vw;
        top: 20px;
      }
      .carimbo {
        right: 0;
      }
    }
  }

  #quem_somos {
    .text {
      h2 {
        img {
          width: 30px;
          top: -12px;
        }
      }
    }
    .image {
      max-width: 485px;
    }

    p {
      font-size: 15.5px;
    }
  }

  #registro_marca {
    padding-top: 60px;
    padding-bottom: 60px;
    .container_umbrella {
      max-width: 1320px;

      .p_bot {
      }
    }
    .content {
      .box-left {
        bottom: 45px;
        left: 18px;

        .martelo {
          width: 195px;
        }
      }
      .box-middle {
        padding-bottom: 50px;
        margin-left: -98px;
        margin-right: -80px;
      }
      .box-right {
        top: -25px;
        right: 18px;
        .megafone {
          width: 230px;
        }
      }
    }
  }

  #valores {
    .quadrados {
      gap: 20px;
    }

    .quadrados + * {
      margin-top: 20px;
    }

    .square {
      padding: 40px 20px;

      p {
        font-size: 15.5px;
      }
    }
  }

  #como_funciona {
    .titulo-2 {
      font-size: 37px;
    }

    .paragrafo-2 {
      font-size: 15.5px;
    }

    .image {
      width: 437.75px;
      height: 458.15px;
    }

    .list {
      max-width: 580px;

      .underline {
        img {
          right: 10px;
        }
      }

      h2 {
        img {
          width: 170px;
        }
      }

      ul + * {
        margin-top: 15px;
      }
    }

    .item {
      gap: 15px;
    }
  }

  #faq {
    padding-top: 70px;
    padding-bottom: 70px;
    .paragrafo-1 {
      font-size: 23px;
    }

    .container_umbrella {
      max-width: 1250px;
    }

    h2 {
      margin-bottom: 30px;
      .detalhe {
        img {
          width: 30px;
          top: -12px;
        }
      }
    }

    .content {
      .box-left {
        img {
          width: 148px;
        }
      }

      .box-right {
        img {
          width: 157px;
        }
      }
    }

    .perguntas {
      margin-bottom: 18px;
    }
  }

  #redes_sociais {
    padding-top: 60px;
    .container_umbrella {
      margin-bottom: -160px;
      gap: 16px;

      .image {
        max-width: 310px;
      }
    }
  }

  #acompanhe {
    padding-top: 160px;

    .text {
      margin-left: 40px;
      max-width: 362px;

      img {
        max-width: 250px;
        top: -10px;
      }
    }

    .image {
      gap: 110px;
      padding-right: 55px;
      .box-left {
        max-width: 262px;

        .laptop + * {
          margin-top: 21px;
        }

        a {
          display: inline-flex;
          margin-left: -20px;
        }
      }

      .box-right {
        max-width: 213px;

        a {
          display: inline-flex;
          margin-left: -20px;
        }
      }

      .links {
        display: none;
      }
    }

    .bt {
      height: 45px;
      font-size: 15px;

      img {
        width: 23px;
      }
    }
  }

  #clientes {
    padding-top: 70px;

    h2 {
      .detalhe {
        img {
          width: 30px;
          top: -12px;
        }
      }
    }
  }

  #contato {
    .container_umbrella {
      gap: 50px;

      .contato-lista {
        gap: 12px;
      }

      .contatos {
        max-width: 400px;
      }

      .formulario {
        max-width: 550px;

        label {
          margin-bottom: 2px;
        }

        input {
          height: 50px;
        }

        input + * {
          margin-top: 12px;
        }

        textarea {
          height: 160px;
        }
      }

      .underline {
        img {
          width: 180px;
          bottom: -5px;
          right: 0;
        }
      }

      .botoes {
        gap: 20px;
      }
    }
  }

  #rodape {
    .container_umbrella {
      .logo {
        max-width: 220px;
      }
    }
  }
}
