@media only screen and (max-width: 1600px) {
  .container_umbrella {
    max-width: 1280px;
  }
  .titulo-1 {
    font-size: 75px;
  }
  .titulo-2 {
    font-size: 46px;
  }
  .titulo-4 {
    font-size: 19px;
  }
  header .logo {
    max-width: 182px;
  }
  #banner {
    padding-top: 155px;
  }
  #banner .title .aviao {
    top: 30px;
    left: -3.5vw;
  }
  #banner .title .carimbo {
    top: 30px;
    right: -1.5vw;
  }
  #quem_somos .text h2 + * {
    margin-top: 22px;
  }
  #valores .quadrados {
    gap: 25px;
  }
  #valores .quadrados + * {
    margin-top: 25px;
  }
  #como_funciona .image {
    width: 470px;
  }
  #faq .container_umbrella {
    max-width: 1475px;
  }
  #faq .content .box-left img {
    width: 168px;
  }
  #faq .content .box-right img {
    width: 177px;
  }
  #faq .content .faqs {
    margin: 0 39px 0 54px;
  }
  #redes_sociais .container_umbrella {
    gap: 20px;
  }
  #redes_sociais .container_umbrella .image {
    max-width: 380px;
  }
  #acompanhe {
    padding-top: 200px;
  }
  #acompanhe .text {
    max-width: 420px;
  }
  #acompanhe .text img {
    max-width: 285px;
  }
  #acompanhe .box-left {
    max-width: 333px;
  }
  #acompanhe .box-right {
    max-width: 270px;
  }
  #acompanhe .image .links {
    padding-top: 70px;
  }
  #clientes {
    padding-top: 80px;
  }
  #contato .container_umbrella {
    justify-content: center;
    gap: 60px;
  }
  #contato .container_umbrella .formulario {
    max-width: 650px;
  }
  #contato .container_umbrella .formulario input {
    height: 55px;
  }
  #contato .container_umbrella .formulario textarea {
    height: 170px;
  }
}
