@media only screen and (max-width: 1600px) {
  .container_umbrella {
    max-width: 1280px;
  }

  .titulo-1 {
    font-size: 75px;
  }

  .titulo-2 {
    font-size: 46px;
  }

  header {
    .logo {
      max-width: 182px;
    }
  }

  #banner {
    padding-top: 155px;
    .title {
      .aviao {
        top: 30px;
        left: -3.5vw;
      }
      .carimbo {
        top: 30px;
        right: -1.5vw;
      }
    }
  }

  #quem_somos {
    .text {
      h2 + * {
        margin-top: 22px;
      }
    }
  }

  #como_funciona {
    .image {
      width: 470px;
    }
  }

  #faq {
    .container_umbrella {
      max-width: 1475px;
    }
    .content {
      .box-left {
        img {
          width: 168px;
        }
      }

      .box-right {
        img {
          width: 177px;
        }
      }

      .faqs {
        margin: 0 39px 0 54px;
      }
    }
  }

  #acompanhe {
    .text {
      max-width: 420px;

      img {
        max-width: 285px;
      }
    }

    .box-left {
      max-width: 333px;
    }

    .box-right {
      max-width: 270px;
    }
    .image {
      .links {
        padding-top: 70px;
      }
    }
  }

  #clientes {
    padding-top: 80px;
  }
}
