@media only screen and (max-width: 320px) {
  .titulo-2 {
    font-size: 22px;
  }

  .paragrafo-1 {
    font-size: 14px;
  }

  .whattsapp {
    width: 12px;
  }

  #redes_sociais {
    .container_umbrella {
      .image {
        max-width: 190px;
      }
    }
  }

  #acompanhe {
    .redes-sociais {
      .text {
        max-width: 200px;

        img {
          max-width: 130px;
        }
      }
    }

    .box-right {
    }
    .box-left {
    }
  }

  #faq {
    .paragrafo-1 {
      font-size: 11.5px;
    }

    .content-icon {
      svg {
        width: 16px;
      }
    }
  }

  #contato {
    .container_umbrella {
      .formulario {
        max-width: 340px;

        input {
          height: 20px;
        }

        textarea {
          height: 60px;
        }
      }
    }
  }

  #rodape {
    .container_umbrella {
      .seta {
        width: 20px;
      }

      .logo {
        max-width: 110px;
      }

      .logo + * {
        margin-top: 8px;
      }

      nav + * {
        margin-top: 8px;
      }
    }
  }

  footer {
    margin-top: -6px;
    .container_umbrella {
      span {
        padding-top: 4px;
        font-size: 11px;
        gap: 2px;
      }
      .codie-link {
        img {
          max-width: 50px;
        }
      }
    }
  }
}
