@media only screen and (max-width: 320px) {
  .paragrafo-1 {
    font-size: 14px;
  }

  #acompanhe {
    .redes-sociais {
      .text {
        max-width: 220px;
      }
    }

    .bt {
      font-size: 12px;
    }

    .box-right {
    }
    .box-left {
    }
  }
}
