@media only screen and (max-width: 500px) {
  .container_umbrella {
    max-width: 430px;
  }
  .titulo-1 {
    font-size: 30px;
  }

  .titulo-2 {
    font-size: 27px;
  }

  .titulo-3 {
    font-size: 24px;
  }

  .paragrafo-1 {
    font-size: 16px;
  }

  .paragrafo-2 {
    font-size: 12.5px;
  }

  .bt {
    height: 35px;
    font-size: 12px;
  }

  .whattsapp {
    width: 16px;
  }

  header {
    .logo {
      max-width: 112px;
    }
  }

  #banner {
    padding-top: 15px;

    .title {
      .underline {
        img {
          width: 100px;
          bottom: -2px;
        }
      }
    }

    .title + * {
      margin-top: 10px;
    }
  }

  #quem_somos {
    padding-top: 175px;
    padding-bottom: 25px;
    .text {
      h2 {
        img {
          width: 22px;
          top: -7px;
        }
      }

      p + * {
        margin-top: 15px;
      }
    }

    p {
      font-size: 13px;
      line-height: 16px;
    }
  }

  #registro_marca {
    padding-top: 18px;
    padding-bottom: 20px;
    .container_umbrella {
      max-width: 430px;
      p {
        margin-top: 8px;
      }
      .content {
        .box-middle {
          p + * {
            margin-top: 10px;
          }
        }
      }
    }
  }

  #valores {
    .quadrados {
      .square {
        padding: 20px 10px;
        max-width: 290px;

        img {
          width: 32px;
        }

        p {
          font-size: 12.5px;
        }
      }
    }
    .bt {
      max-width: 280px;
    }
  }

  #como_funciona {
    .titulo-2 {
      font-size: 27px;
    }

    .paragrafo-2 {
      font-size: 12px;
    }

    .list {
      h2 {
        max-width: 290px;

        .underline {
          img {
            width: 110px;
          }
        }
      }

      ul + * {
        margin-top: -5px;
      }
    }
  }
}
