@media only screen and (max-width: 500px) {
  .titulo-1 {
    font-size: 30px;
  }
  .titulo-2 {
    font-size: 25px;
  }
  .titulo-3 {
    font-size: 24px;
  }
  .titulo-4 {
    font-size: 11.5px;
  }
  .paragrafo-1 {
    font-size: 15px;
  }
  .paragrafo-2 {
    font-size: 12px;
  }
  .link-3 {
    font-size: 11.5px;
  }
  .bt {
    height: 25px;
    font-size: 10px;
    padding: 0 15px;
    gap: 5px;
  }
  .whattsapp {
    width: 13px;
  }
  header .logo {
    max-width: 112px;
  }
  #banner {
    padding-top: 15px;
  }
  #banner .title .underline img {
    width: 100px;
    bottom: -2px;
  }
  #banner .title + * {
    margin-top: 10px;
  }
  #quem_somos {
    padding-top: 175px;
    padding-bottom: 25px;
  }
  #quem_somos .paragrafo-2 {
    font-size: 12px;
  }
  #quem_somos .text h2 img {
    width: 22px;
    top: -7px;
  }
  #quem_somos .text p + * {
    margin-top: 15px;
  }
  #quem_somos p {
    line-height: 16px;
  }
  #registro_marca {
    padding-top: 18px;
    padding-bottom: 20px;
  }
  #registro_marca .container_umbrella {
    max-width: 430px;
  }
  #registro_marca .container_umbrella p {
    margin-top: 8px;
  }
  #registro_marca .container_umbrella .content .box-middle p + * {
    margin-top: 10px;
  }
  #valores .quadrados .square {
    padding: 20px 10px;
    max-width: 290px;
  }
  #valores .quadrados .square img {
    width: 32px;
  }
  #valores .quadrados .square p {
    font-size: 12.5px;
  }
  #valores .bt {
    max-width: 280px;
  }
  #como_funciona .titulo-2 {
    font-size: 25px;
  }
  #como_funciona .paragrafo-2 {
    font-size: 12px;
  }
  #como_funciona .list .item {
    gap: 5px;
  }
  #como_funciona .list h2 {
    max-width: 290px;
  }
  #como_funciona .list h2 .underline img {
    width: 110px;
  }
  #como_funciona .list ul + * {
    margin-top: -5px;
  }
  #faq {
    padding-top: 30px;
  }
  #faq .paragrafo-1 {
    font-size: 12.5px;
  }
  #faq h2 .detalhe img {
    width: 20px;
  }
  #faq .duvida {
    padding: 8px 15px 8px 15px;
  }
  #faq .duvida span {
    line-height: 14px;
  }
  #faq .perguntas {
    margin-bottom: 8px;
  }
  #faq .content-icon svg {
    width: 18px;
  }
  #redes_sociais .container_umbrella .image {
    max-width: 210px;
  }
  #acompanhe .redes-sociais .text {
    max-width: 225px;
  }
  #acompanhe .redes-sociais .text img {
    max-width: 150px;
  }
  #acompanhe .redes-sociais .box-right {
    max-width: 100px;
  }
  #acompanhe .redes-sociais .box-right a {
    margin-left: -32px;
  }
  #acompanhe .redes-sociais .box-left {
    max-width: 142px;
  }
  #acompanhe .redes-sociais .box-left a {
    margin-left: -8px;
  }
  #acompanhe .bt {
    font-size: 10px;
    padding: 0 15px;
    height: 25px;
  }
  #acompanhe .bt img {
    width: 13px;
  }
  #clientes h2 {
    text-align: center;
  }
  #clientes h2 .detalhe img {
    display: none;
  }
  #contato {
    padding-top: 12px;
    padding-bottom: 20px;
  }
  #contato .container_umbrella {
    gap: 8px;
  }
  #contato .container_umbrella .contato-lista {
    gap: unset;
  }
  #contato .container_umbrella .contato-lista li {
    gap: 5px;
  }
  #contato .container_umbrella .contato-lista li img {
    width: 10px;
  }
  #contato .container_umbrella .contatos {
    max-width: 230px;
  }
  #contato .container_umbrella .formulario {
    max-width: 340px;
  }
  #contato .container_umbrella .formulario input {
    height: 25px;
    font-size: 10px;
  }
  #contato .container_umbrella .formulario textarea {
    height: 65px;
    font-size: 10px;
  }
  #contato .container_umbrella .underline img {
    width: 100px;
  }
  #rodape .container_umbrella .seta {
    width: 25px;
  }
  #rodape .container_umbrella .logo {
    max-width: 120px;
  }
  #rodape .container_umbrella .logo + * {
    margin-top: 10px;
  }
  #rodape .container_umbrella nav + * {
    margin-top: 10px;
  }
  #rodape .container_umbrella .navegacao {
    gap: unset;
  }
  footer {
    margin-top: -6px;
  }
  footer .container_umbrella span {
    padding-top: 3px;
    font-size: 12px;
    gap: 2px;
  }
  footer .container_umbrella .codie-link img {
    max-width: 55px;
  }
}
