@media only screen and (max-width: 768px) {
  .container_umbrella {
    max-width: 530px;
  }
  .titulo-1 {
    font-size: 40px;
  }
  .titulo-2 {
    font-size: 36px;
  }
  .titulo-3 {
    font-size: 27px;
  }
  .paragrafo-2 {
    font-size: 14px;
  }
  #banner {
    padding-top: 45px;
  }
  #quem_somos {
    padding-bottom: 40px;
  }
  #quem_somos p {
    font-size: 14.5px;
  }
  #registro_marca {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #registro_marca .container_umbrella .content .box-middle p {
    max-width: 500px;
  }
  #valores {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #valores .square {
    max-width: 380px;
  }
  #valores .square img {
    width: 45px;
  }
  #valores .square p {
    font-size: 14px;
  }
  #como_funciona {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #como_funciona .list .item p {
    font-size: 14px;
  }
  #faq {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #faq .paragrafo-1 {
    font-size: 18px;
  }
  #faq .duvida {
    padding: 15px 20px 15px 30px;
  }
  #redes_sociais {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #acompanhe {
    padding-top: 180px;
    padding-bottom: 40px;
  }
  #acompanhe .bt {
    font-size: 13px;
  }
  #acompanhe .bt img {
    width: 17px;
  }
  #acompanhe .redes-sociais {
    justify-content: center;
  }
  #acompanhe .redes-sociais .text {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  #acompanhe .redes-sociais .text img {
    margin-left: 190px;
    max-width: 220px;
  }
  #acompanhe .redes-sociais .box-right {
    max-width: 183px;
  }
  #acompanhe .redes-sociais .box-right a {
    margin-left: -19px;
  }
  #acompanhe .redes-sociais .box-left {
    max-width: 232px;
  }
  #acompanhe .redes-sociais .box-left .laptop + * {
    margin-top: 14px;
  }
  #clientes {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #contato {
    padding-top: 35px;
    padding-bottom: 40px;
  }
}
