@media only screen and (max-width: 768px) {
  .container_umbrella {
    max-width: 530px;
  }

  .titulo-1 {
    font-size: 40px;
  }

  .titulo-2 {
    font-size: 36px;
  }

  .titulo-3 {
    font-size: 27px;
  }

  .paragrafo-2 {
    font-size: 14px;
  }

  header {
    .logo {
      max-width: 122px;
    }
  }

  #banner {
    padding-top: 25px;

    .title {
      .underline {
        img {
          width: 140px;
          bottom: -5px;
        }
      }
    }

    .title + * {
      margin-top: 25px;
    }
  }

  #quem_somos {
    padding-bottom: 40px;
    p {
      font-size: 14.5px;
    }
  }

  #registro_marca {
    padding-top: 28px;
    padding-bottom: 32px;

    .container_umbrella {
      .content {
        .box-middle {
          p {
            max-width: 500px;
          }
        }
      }
    }
  }

  #valores {
    padding-top: 40px;
    padding-bottom: 40px;

    .square {
      max-width: 380px;

      img {
        width: 45px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  #como_funciona {
    padding-top: 40px;
    padding-bottom: 40px;

    .list {
      .item {
        p {
          font-size: 14px;
        }
      }
    }
  }

  #faq {
    padding-top: 40px;
    padding-bottom: 20px;

    .paragrafo-1 {
      font-size: 18px;
    }

    .duvida {
      padding: 15px 20px 15px 30px;
    }
  }

  #redes_sociais {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #acompanhe {
    padding-top: 180px;
    padding-bottom: 40px;

    .bt {
      font-size: 13px;

      img {
        width: 17px;
      }
    }

    .redes-sociais {
      justify-content: center;

      .text {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;

        img {
          margin-left: 190px;
          max-width: 220px;
        }
      }

      .box-right {
        max-width: 183px;

        a {
          margin-left: -19px;
        }
      }

      .box-left {
        max-width: 232px;

        .laptop + * {
          margin-top: 14px;
        }
      }
    }
  }

  #clientes {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #contato {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  #rodape {
  }

  footer {
  }
}
