:root {
  --primary-color: #4fbab5;
  --secondary-color: #4f148a;
  --secondary-color--hover: #330066;
  --tertiary-color: #f25757;
  --tertiary-color--hover: #f33c3c;
  --quaternary-color: #e6e1ec;
  --quintuary-color: #542f7a;
}

html {
  scroll-behavior: smooth;
}

*:target,
*:focus {
  outline: transparent !important;
}

a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;

  *:not(g, path) {
    transition: 0.15s;
  }
}

a::after,
a::before {
  -webkit-transition: 0.3s;
}

a:hover::after,
a:hover::before {
  transition: 0.3s;
}

a:hover,
button:hover {
  transition: 0.15s;

  *:not(g, path) {
    transition: 0.15s;
  }
}

ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}

//buttons//
.bt {
  height: 60px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  gap: 10px;
  color: #ffffff;
}

.bt_large {
  height: 50px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  padding: 0 40px;
  gap: 10px;
  color: #ffffff;
}

.bt:hover {
  color: #fff;
}

.bt_large:hover {
  color: #fff;
}

.bt--primary {
  background-color: var(--tertiary-color);
  border: 0;
}

.bt--primary:hover {
  background-color: var(--tertiary-color--hover);
}

.bt--secondary {
  background-color: var(--secondary-color);
}

.bt--secondary:hover {
  background-color: var(--secondary-color--hover);
}

.bt--tertiary:hover {
  background-color: gold;
  border-radius: 0;
}

body {
  background-color: #fdfdfd;
}

.container_umbrella {
  max-width: 1380px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

#nav {
  align-items: center;
  display: flex;

  .itens a:hover {
    background: var(--secondary-color);
    color: #fff;
    border-radius: 4px;
  }
}

header {
  padding: 15px 0;

  .container_umbrella {
    display: flex;
    justify-content: space-between;
  }

  .block_bar {
    display: none;
    gap: 7px;
    flex-direction: column;
    width: 40px;

    div {
      height: 3px;
      background-color: var(--primary-color);
      transition: 0.3s;
      border-radius: 25px;
    }
  }

  .bg-mobile {
    display: none;
  }

  .close {
    display: none;
  }

  img {
    display: block;
    max-width: 220px;
    width: 100%;
  }

  .itens {
    display: flex;

    gap: 2.4vw;

    a {
      color: #000000;
      padding: 8px;
    }
  }
}

#banner {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 190px;
  position: relative;

  .title {
    display: flex;
    position: relative;
    justify-content: center;

    h1 {
      text-align: center;
      color: #ffffff;
      line-height: normal;

      span {
        color: var(--secondary-color);
      }
    }

    .underline {
      position: relative;

      img {
        position: absolute;
        bottom: -10px;
        right: 0;
      }
    }

    .aviao {
      display: block;
      width: 18vw;
      position: absolute;
      left: -5.5vw;
      top: -5px;
    }

    .carimbo {
      display: block;
      width: 11.72vw;
      position: absolute;
      right: -2.5vw;
      top: 0;
    }
  }

  .title + * {
    margin-top: 52px;
  }

  .video {
    width: 100%;
    aspect-ratio: 1.77;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -145px;
    position: relative;
    z-index: 2;
    vertical-align: bottom;
  }

  .img_bottom_banner {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

#quem_somos {
  padding-top: 190px;

  .container_umbrella {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
  }

  .text {
    max-width: 660px;

    h2 {
      color: var(--secondary-color);
      position: relative;
      display: inline-block;

      img {
        position: absolute;
        width: 34px;
        top: -15px;
      }
    }

    h2 + * {
      margin-top: 24px;
    }

    p {
      margin-bottom: 0;
    }

    p + * {
      margin-top: 26px;
    }
  }

  .image {
    display: block;
    max-width: 554px;
    width: 100%;
  }
}

#registro_marca {
  background-color: var(--quaternary-color);
  width: 100%;
  padding-top: 74px;
  padding-bottom: 80px;
  text-align: center;

  .container_umbrella {
    max-width: 1430px;

    p {
      max-width: 890px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 14px;
      margin-bottom: 0;
    }
  }

  h2 {
    color: var(--secondary-color);
    margin-bottom: 0;
  }

  h2 + * {
    margin-top: 25px;
  }

  .top {
    p {
      max-width: 890px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .content {
    display: flex;
    margin-top: 16px;

    .box-left,
    .box-right {
      position: relative;
      z-index: 2;
    }

    .box-left {
      display: flex;
      align-items: flex-end;
    }

    .box-middle {
      position: relative;
      z-index: 1;
      background-image: url(../images/registro-de-marca-bg.png);
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      width: 100%;
      min-height: 384px;
      margin-left: -128px;
      margin-right: -110px;
      padding-bottom: 22px;

      p {
        max-width: 660px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        line-height: 1.33;
      }

      p + * {
        margin-top: 60px;
      }
    }
  }
}

#valores {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 80px;
  padding-bottom: 70px;

  .container_umbrella {
  }

  .quadrados {
    display: flex;
    gap: 30px;
  }

  .quadrados + * {
    margin-top: 30px;
  }

  .square {
    display: grid;
    max-width: 430px;
    width: 100%;
    background-color: #fdfdfd;
    justify-items: center;
    align-items: center;
    padding: 50px 40px;

    h3 {
      color: var(--secondary-color);
      margin-top: 17px;
    }

    h3 + * {
      margin-top: 10px;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }

  .botao {
    display: flex;
    justify-content: center;
  }
}

#como_funciona {
  padding-top: 74px;
  padding-bottom: 90px;

  .container_umbrella {
    display: flex;
    justify-content: space-between;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .underline {
      position: relative;

      img {
        position: absolute;
        bottom: -10px;
        right: 12px;
      }
    }

    h2 {
      color: var(--secondary-color);
      margin: 0;
    }

    h2 + * {
      margin-top: 42px;
    }

    ul + * {
      margin-top: 22px;
    }

    .number {
      color: var(--primary-color);
      display: flex;
      justify-content: center;
      margin-top: -7px;
    }
  }

  .item {
    display: flex;
    gap: 20px;
  }
}

#faq {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--quaternary-color);

  .container_umbrella {
    max-width: 1600px;
  }

  h2 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 38px;

    .detalhe {
      position: relative;

      img {
        position: absolute;
        top: -15px;
      }
    }
  }

  .content {
    display: flex;
    width: 100%;

    .box-left {
      width: 215px;
      padding-top: 85px;
    }

    .faqs {
      width: 100%;
      margin: 0 39px 0 54px;
    }

    .box-right {
      width: 187px;
      padding-top: 250px;
    }
  }

  .perguntas {
    margin-bottom: 20px;
  }

  .duvida {
    background-color: #fff;
    color: #3a3a3a;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding: 25px 30px 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content-icon {
    svg:nth-child(1) {
      display: block;
    }

    svg:nth-child(2) {
      display: none;
    }
  }

  .content-icon.active {
    svg:nth-child(1) {
      display: none;
    }

    svg:nth-child(2) {
      display: block;
    }
  }

  .active,
  .duvida:hover {
    background-color: #ccc;
  }

  .resposta {
    padding: 45px 40px 15px;
    display: none;
    overflow: hidden;
  }
}

#redes_sociais {
  padding-top: 80px;
  .container_umbrella {
    margin-bottom: -200px;
    display: flex;
    justify-content: center;
    gap: 30px;

    .image {
      border: 10px solid #ffffff;
      max-width: 430px;
      width: 100%;
    }
  }
}

#acompanhe {
  background-color: var(--primary-color);
  padding-top: 225px;
  padding-bottom: 45px;

  .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }

  .text {
    max-width: 430px;
    color: #fff;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 0;
    }

    img {
      max-width: 300px;
      width: 100%;
      position: relative;
      top: -8px;
    }
  }

  .image {
    display: flex;
    align-items: flex-start;

    .box-left,
    .box-right {
      z-index: 2;
      position: relative;
    }

    .box-left {
      width: 350px;

      .laptop {
        width: 100%;
      }

      a {
        display: none;
      }
    }

    .box-right {
      width: 284px;

      .phone {
        width: 100%;
      }

      a {
        display: none;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 45px;
      padding-top: 95px;
      z-index: 1;
      position: relative;

      .bt {
        height: 42px;
        width: 290px;
        padding: 0 30px;
        img {
          max-width: 25px;
        }
      }

      .bt:nth-child(1) {
        justify-content: flex-end;
        margin-left: -70px;
      }

      .bt:nth-child(2) {
        justify-content: flex-start;
        margin-right: -99px;
        position: relative;
        right: -30px;
      }
    }
  }
}

#clientes {
  padding-top: 100px;
  padding-bottom: 70px;
  .container_umbrella {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: var(--secondary-color);
    .detalhe {
      position: relative;
      img {
        position: absolute;
        top: -15px;
      }
    }
  }

  h2 + * {
    margin-top: 38px;
  }
  .owl-carousel {
    padding: 0 55px;

    .owl-stage {
      img {
        object-fit: contain;
        object-position: center center;
        width: 100%;
        height: 140px;
      }

      img + img {
        margin-top: 30px;
      }
    }

    .owl-nav {
      margin: 0;

      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }

  .owl-carousel + * {
    margin-top: 33px;
  }
}

#contato {
  background-color: var(--quintuary-color);
  padding-top: 100px;
  padding-bottom: 75px;
  .container_umbrella {
    display: flex;
    justify-content: space-between;

    .contatos {
      color: #fff;
      max-width: 430px;
      width: 100%;

      h2 + * {
        margin-top: 40px;
      }
    }

    .contato-lista {
      display: flex;
      flex-direction: column;
      gap: 15px;

      li {
        display: flex;
        gap: 15px;
        align-items: center;

        img {
          width: 20px;
        }
      }
    }

    .underline {
      position: relative;

      img {
        position: absolute;
        bottom: -10px;
        right: -20px;
      }
    }

    .formulario {
      max-width: 700px;
      width: 100%;
    }

    form {
      color: #fff;
      display: flex;
      flex-direction: column;

      input {
        height: 60px;
        padding: 15px;
      }

      input + * {
        margin-top: 15px;
      }

      textarea {
        padding: 15px;
      }

      textarea + * {
        margin-top: 20px;
      }
    }

    .botoes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }
}

#rodape {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;

  .linha {
    max-width: 890px;
    width: 100%;
    height: 1px;
    border: 1px solid #3a3a3a;
    position: relative;
    bottom: 0;
  }

  .container_umbrella {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;

    .logo {
      width: 100%;
      max-width: 230px;
    }

    .logo + * {
      margin-top: 60px;
    }

    nav + * {
      margin-top: 45px;
    }

    .navegacao {
      display: flex;
      gap: 40px;

      a {
        color: #fff;
      }
    }

    .seta {
      position: relative;
      top: -30px;
    }
  }
}

footer {
  background-color: var(--primary-color);
  padding-bottom: 10px;
  margin-top: -1px;

  .container_umbrella {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    span {
      font-size: 16px;
      color: #3a3a3a;
    }
    .codie-link {
      img {
        width: 100%;
        max-width: 69px;
      }
    }
  }
}
