:root {
  --primary-color: #4fbab5;
  --secondary-color: #4f148a;
  --secondary-color--hover: #330066;
  --tertiary-color: #f25757;
  --tertiary-color--hover: #f33c3c;
  --quaternary-color: #e6e1ec;
  --quintuary-color: #542f7a;
}
html {
  scroll-behavior: smooth;
}
*:target,
*:focus {
  outline: transparent !important;
}
a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a *:not(g, path),
button *:not(g, path) {
  transition: 0.15s;
}
a::after,
a::before {
  -webkit-transition: 0.3s;
}
a:hover::after,
a:hover::before {
  transition: 0.3s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover *:not(g, path),
button:hover *:not(g, path) {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
.bt {
  height: 60px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  gap: 10px;
  color: #ffffff;
}
.bt_large {
  height: 50px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  padding: 0 40px;
  gap: 10px;
  color: #ffffff;
}
.bt:hover {
  color: #fff;
}
.bt_large:hover {
  color: #fff;
}
.bt--primary {
  background-color: var(--tertiary-color);
  border: 0;
}
.bt--primary:hover {
  background-color: var(--tertiary-color--hover);
}
.bt--secondary {
  background-color: var(--secondary-color);
}
.bt--secondary:hover {
  background-color: var(--secondary-color--hover);
}
.bt--tertiary:hover {
  background-color: gold;
  border-radius: 0;
}
body {
  background-color: #fdfdfd;
}
.container_umbrella {
  max-width: 1380px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
#btn-mobile {
  display: none;
}
#nav {
  align-items: center;
  display: flex;
}
#nav .itens a:hover {
  background: var(--secondary-color);
  color: #fff;
  border-radius: 4px;
}
header {
  padding: 15px 0;
}
header .container_umbrella {
  display: flex;
  justify-content: space-between;
}
header .block_bar {
  display: none;
  gap: 7px;
  flex-direction: column;
  width: 40px;
}
header .block_bar div {
  height: 3px;
  background-color: var(--primary-color);
  transition: 0.3s;
  border-radius: 25px;
}
header .bg-mobile {
  display: none;
}
header .close {
  display: none;
}
header img {
  display: block;
  max-width: 220px;
  width: 100%;
}
header .itens {
  display: flex;
  gap: 2.4vw;
}
header .itens a {
  color: #000000;
  padding: 8px;
}
#banner {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 196px;
  position: relative;
}
#banner .title {
  display: flex;
  position: relative;
  justify-content: center;
}
#banner .title h1 {
  text-align: center;
  color: #ffffff;
  line-height: normal;
}
#banner .title h1 span {
  color: var(--secondary-color);
}
#banner .title .underline {
  position: relative;
}
#banner .title .underline img {
  position: absolute;
  bottom: -10px;
  right: 0;
}
#banner .title .aviao {
  display: block;
  width: 18vw;
  position: absolute;
  left: -5.5vw;
  top: -5px;
}
#banner .title .carimbo {
  display: block;
  width: 11.72vw;
  position: absolute;
  right: -2.5vw;
  top: 0;
}
#banner .title + * {
  margin-top: 52px;
}
#banner .video {
  width: 100%;
  aspect-ratio: 1.77;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -145px;
  position: relative;
  z-index: 2;
  vertical-align: bottom;
}
#banner .img_bottom_banner {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
}
#quem-somos {
  padding-top: 190px;
}
#quem-somos .container_umbrella {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}
#quem-somos .text {
  padding-bottom: 30px;
  max-width: 660px;
}
#quem-somos .text h2 {
  color: var(--secondary-color);
  position: relative;
  display: inline-block;
}
#quem-somos .text h2 img {
  position: absolute;
  width: 34px;
  right: -16px;
  top: -6px;
}
#quem-somos .text h2 + * {
  margin-top: 24px;
}
#quem-somos .text p {
  margin-bottom: 0;
}
#quem-somos .text p + * {
  margin-top: 26px;
}
#quem-somos .image {
  display: block;
  width: 554px;
}
#registro_marca {
  background-color: var(--quaternary-color);
  width: 100%;
  padding-top: 74px;
  padding-bottom: 80px;
  text-align: center;
}
#registro_marca .container_umbrella {
  max-width: 1430px;
}
#registro_marca .container_umbrella p {
  max-width: 890px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}
#registro_marca h2 {
  color: var(--secondary-color);
  margin-bottom: 0;
}
#registro_marca h2 + * {
  margin-top: 25px;
}
#registro_marca .top p {
  max-width: 890px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#registro_marca .content {
  display: flex;
}
#registro_marca .content .box-left,
#registro_marca .content .box-right {
  position: relative;
  z-index: 2;
}
#registro_marca .content .box-left {
  display: flex;
  align-items: flex-end;
}
#registro_marca .content .box-middle {
  position: relative;
  z-index: 1;
  background-image: url(../images/registro-de-marca-bg.png);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  min-height: 384px;
  margin-left: -128px;
  margin-right: -110px;
  padding-bottom: 22px;
}
#registro_marca .content .box-middle p {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  line-height: 1.33;
}
#registro_marca .content .box-middle p + * {
  margin-top: 60px;
}
#valores {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 80px;
  padding-bottom: 70px;
}
#valores .container_umbrella {
  display: grid;
  gap: 30px;
}
#valores .quadrados {
  display: flex;
  gap: 30px;
}
#valores .square {
  display: grid;
  max-width: 430px;
  width: 100%;
  background-color: #fdfdfd;
  justify-items: center;
  align-items: center;
  padding: 50px 40px;
}
#valores .square h3 {
  color: var(--secondary-color);
  margin-top: 17px;
}
#valores .square p {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 0;
}
#valores .botao {
  display: flex;
  justify-content: center;
}
#como_funciona {
  padding-top: 74px;
  padding-bottom: 90px;
}
#como_funciona .container_umbrella {
  display: flex;
  justify-content: space-between;
}
#como_funciona .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#como_funciona .list .underline {
  position: relative;
}
#como_funciona .list .underline img {
  position: absolute;
  bottom: -10px;
  right: 12px;
}
#como_funciona .list h2 {
  color: var(--secondary-color);
  margin: 0;
}
#como_funciona .list h2 + * {
  margin-top: 42px;
}
#como_funciona .list ul + * {
  margin-top: 22px;
}
#como_funciona .list .number {
  color: var(--primary-color);
  width: 22px;
}
#como_funciona .item {
  display: flex;
  gap: 20px;
}
#faq {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--quaternary-color);
}
#faq .container_umbrella {
  max-width: 1600px;
}
#faq h2 {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 38px;
}
#faq h2 .detalhe {
  position: relative;
}
#faq h2 .detalhe img {
  position: absolute;
  top: -15px;
}
#faq .content {
  display: flex;
  width: 100%;
}
#faq .content .box-left {
  width: 215px;
  padding-top: 85px;
}
#faq .content .faqs {
  width: 100%;
  margin: 0 39px 0 54px;
}
#faq .content .box-right {
  width: 187px;
  padding-top: 250px;
}
#faq .perguntas {
  margin-bottom: 20px;
}
#faq .duvida {
  background-color: #fff;
  color: #3a3a3a;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  padding: 25px 30px 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#faq .content-icon svg:nth-child(1) {
  display: block;
}
#faq .content-icon svg:nth-child(2) {
  display: none;
}
#faq .content-icon.active svg:nth-child(1) {
  display: none;
}
#faq .content-icon.active svg:nth-child(2) {
  display: block;
}
#faq .active,
#faq .duvida:hover {
  background-color: #ccc;
}
#faq .resposta {
  padding: 45px 40px 15px;
  display: none;
  overflow: hidden;
}
#redes_sociais {
  padding-top: 80px;
}
#redes_sociais .container_umbrella {
  margin-bottom: -200px;
  display: flex;
  gap: 30px;
}
#redes_sociais .container_umbrella .image {
  border: 10px solid #ffffff;
  max-width: 430px;
  width: 100%;
}
#acompanhe {
  background-color: var(--primary-color);
  padding-top: 225px;
  padding-bottom: 45px;
}
#acompanhe .redes-sociais {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
#acompanhe .text {
  max-width: 430px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
#acompanhe .text h2 {
  margin-bottom: 0;
}
#acompanhe .text img {
  max-width: 300px;
  width: 100%;
}
#acompanhe .image {
  display: flex;
  align-items: flex-start;
}
#acompanhe .image .box-left,
#acompanhe .image .box-right {
  z-index: 2;
  position: relative;
}
#acompanhe .image .box-left {
  width: 350px;
}
#acompanhe .image .box-left .laptop {
  width: 100%;
}
#acompanhe .image .box-left a {
  display: none;
}
#acompanhe .image .box-right {
  width: 284px;
}
#acompanhe .image .box-right .phone {
  width: 100%;
}
#acompanhe .image .box-right a {
  display: none;
}
#acompanhe .image .links {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 95px;
  z-index: 1;
  position: relative;
}
#acompanhe .image .links .bt {
  height: 42px;
  width: 290px;
  padding: 0 30px;
}
#acompanhe .image .links .bt img {
  max-width: 25px;
}
#acompanhe .image .links .bt:nth-child(1) {
  justify-content: flex-end;
  margin-left: -70px;
}
#acompanhe .image .links .bt:nth-child(2) {
  justify-content: flex-start;
  margin-right: -99px;
  position: relative;
  right: -30px;
}
#clientes {
  padding-top: 100px;
  padding-bottom: 70px;
}
#clientes .container_umbrella {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#clientes h2 {
  color: var(--secondary-color);
}
#clientes h2 .detalhe {
  position: relative;
}
#clientes h2 .detalhe img {
  position: absolute;
  top: -15px;
}
#clientes h2 + * {
  margin-top: 38px;
}
#clientes .owl-carousel {
  padding: 0 55px;
}
#clientes .owl-carousel .owl-stage img {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 140px;
}
#clientes .owl-carousel .owl-stage img + img {
  margin-top: 30px;
}
#clientes .owl-carousel .owl-nav {
  margin: 0;
}
#clientes .owl-carousel .owl-nav .owl-prev,
#clientes .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#clientes .owl-carousel .owl-nav .owl-prev {
  left: 0;
}
#clientes .owl-carousel .owl-nav .owl-next {
  right: 0;
}
#clientes .owl-carousel + * {
  margin-top: 33px;
}
#contato {
  background-color: var(--quintuary-color);
  padding-top: 100px;
  padding-bottom: 75px;
}
#contato .container_umbrella {
  display: flex;
  justify-content: space-between;
}
#contato .container_umbrella .contatos {
  color: #fff;
  max-width: 430px;
  width: 100%;
}
#contato .container_umbrella .contatos h2 + * {
  margin-top: 40px;
}
#contato .container_umbrella .contato-lista {
  display: grid;
}
#contato .container_umbrella .contato-lista li {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
}
#contato .container_umbrella .contato-lista li img {
  width: 20px;
  height: 21px;
}
#contato .container_umbrella .underline {
  position: relative;
}
#contato .container_umbrella .underline img {
  position: absolute;
  bottom: -10px;
  right: -20px;
}
#contato .container_umbrella .formulario {
  max-width: 700px;
  width: 100%;
}
#contato .container_umbrella form {
  color: #fff;
  display: flex;
  flex-direction: column;
}
#contato .container_umbrella form input {
  height: 60px;
  padding: 15px;
}
#contato .container_umbrella form input + * {
  margin-top: 15px;
}
#contato .container_umbrella form textarea {
  padding: 15px;
}
#contato .container_umbrella form textarea + * {
  margin-top: 20px;
}
#contato .container_umbrella .botoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  align-items: center;
}
#contato .container_umbrella .botoes img {
  width: 100%;
}
#rodape {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}
#rodape .linha {
  max-width: 890px;
  width: 100%;
  height: 1px;
  border: 1px solid #3a3a3a;
  position: relative;
  bottom: 0;
}
#rodape .container_umbrella {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
#rodape .container_umbrella .logo + * {
  margin-top: 60px;
}
#rodape .container_umbrella nav + * {
  margin-top: 45px;
}
#rodape .container_umbrella .navegacao {
  display: flex;
  gap: 40px;
}
#rodape .container_umbrella .navegacao a {
  color: #fff;
}
#rodape .container_umbrella .seta {
  position: relative;
  top: -30px;
}
footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin-top: -1px;
}
footer span {
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #3a3a3a;
}
footer span img {
  width: 69px;
  height: 21px;
}
