:root {
  --primary-color: #4fbab5;
  --secondary-color: #4f148a;
  --secondary-color--hover: #330066;
  --tertiary-color: #f25757;
  --tertiary-color--hover: #f33c3c;
  --quaternary-color: #e6e1ec;
}

html {
  scroll-behavior: smooth;
}

*:target,
*:focus {
  outline: transparent !important;
}

a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;

  *:not(g, path) {
    transition: 0.15s;
  }
}

a::after,
a::before {
  -webkit-transition: 0.3s;
}

a:hover::after,
a:hover::before {
  transition: 0.3s;
}

a:hover,
button:hover {
  transition: 0.15s;

  *:not(g, path) {
    transition: 0.15s;
  }
}

ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}

//buttons//
.bt {
  height: 60px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  gap: 10px;
  color: #ffffff;
}

.bt:hover {
  color: #fff;
}

.bt--primary {
  background-color: var(--tertiary-color);
}

.bt--primary:hover {
  background-color: var(--tertiary-color--hover);
}

.bt--secondary {
  background-color: var(--secondary-color);
}

.bt--secondary:hover {
  background-color: var(--secondary-color--hover);
}

body {
  background-color: #fdfdfd;
}

.container_umbrella {
  max-width: 1380px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (max-width: 1400px) {
    max-width: 1200px;
  }
}

//id's//
header {
  padding: 15px 0;

  .container_umbrella {
    display: flex;
    justify-content: space-between;

    img {
      display: block;
      max-width: 220px;
      width: 100%;

      @media (max-width: 1600px) {
        max-width: 182px;
      }

      @media (max-width: 1400px) {
        max-width: 158px;
      }
    }

    .itens {
      display: flex;
      align-items: center;
      gap: 2.6vw;

      a {
        color: #000000;

        @media (max-width: 1400px) {
          font-size: 17px;
        }
      }
    }
  }
}

#banner {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 196px;
  position: relative;

  @media (max-width: 1600px) {
    padding-top: 163px;
  }

  @media (max-width: 1400px) {
    padding-top: 141px;
  }

  .title {
    display: flex;
    position: relative;
    justify-content: center;

    h1 {
      text-align: center;
      color: #ffffff;

      @media (max-width: 1600px) {
        font-size: 75px;
      }

      @media (max-width: 1400px) {
        font-size: 65px;
      }

      span {
        color: var(--secondary-color);
      }
    }

    .underline {
      position: relative;

      img {
        position: absolute;
        bottom: -10px;
        right: 0;
      }
    }

    .aviao {
      display: block;
      width: 346px;
      position: absolute;
      left: -7.8vw;
      top: -15px;

      @media only screen and (max-width: 1600px) {
        width: 288px;
      }

      @media (max-width: 1400px) {
        width: 249px;
      }
    }

    .carimbo {
      display: block;
      width: 225px;
      position: absolute;
      right: -4vw;
      top: -30px;

      @media (max-width: 1600px) {
        width: 187px;
      }

      @media (max-width: 1400px) {
        width: 162px;
      }
    }
  }

  .title + * {
    margin-top: 52px;
  }

  .video {
    width: 100%;
    aspect-ratio: 1.77;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -145px;
    position: relative;
    z-index: 2;
    vertical-align: bottom;
  }

  .img_bottom_banner {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

#quem-somos {
  padding-top: 190px;

  .container_umbrella {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
  }

  .text {
    padding-bottom: 30px;

    h2 {
      color: var(--secondary-color);
      position: relative;
      display: inline-block;

      img {
        position: absolute;
        width: 34px;
        right: -16px;
        top: -6px;
      }
    }

    h2 + * {
      margin-top: 24px;
    }

    p {
      margin-bottom: 0;
    }

    p + * {
      margin-top: 26px;
    }

    a {
      .whattsapp {
        max-width: 24px;
        width: 100%;
        height: 24px;
      }
    
    }
  }

  .image {
    display: block;
    max-width: 554px;
    width: 100%;
    height: 469px;
    object-fit: cover;
  }
}

#registro {
  background-color: var(--quaternary-color);
  width: 100%;
  padding-top: 74px;
  padding-bottom: 80px;

  .container_umbrella {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .top {
    text-align: center;

    h2 {
      color: var(--secondary-color);
      margin-bottom: 0;
    }

    h2 + * {
      margin-top: 25px;
    }

    p {
      max-width: 890px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .middle {
    background-image: url(../images/registro-de-marca-bg.png);
    max-width: 1160px;
    width: 100%;
    height: 349px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
    position: relative;

    p {
      max-width: 660px;
      width: 100%;
      height: 126px;
      text-align: center;
      color: #ffffff;
    }

    a {
      color: #fdfdfd;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: absolute;
      bottom: -15px;
    }

    .martelo {
      position: absolute;
      left: -95px;
      bottom: -35px;
    }

    .megafone {
      position: absolute;
      right: -145px;
      top: -25px;
    }

    .element {
      position: absolute;
      top: -135px;
      left: -390px;
    }
  }

  .bottom {
    p {
      text-align: center;
      max-width: 890px;
      width: 100%;
      height: 45px;
      margin-top: 30px;
    }
  }
}

#triade {
  background-color: var(--primary-color);
  max-width: 1920px;
  height: 591px;

  .container_umbrella {
    display: flex;
    gap: 20px;
  }

  .square {
    display: grid;
    max-width: 430px;
    width: 100%;
    height: 356px;
    background-color: #fdfdfd;
    justify-items: center;
    align-items: center;

    h3 {
      margin: 0;
      color: var(--secondary-color);
    }

    p {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .container_umbrella {
    max-width: 1300px;
  }
}

@media only screen and (max-width: 1400px) {
  .container_umbrella {
    max-width: 1300px;
  }
}
