:root {
  --primary-color: #4fbab5;
  --secondary-color: #4f148a;
  --secondary-color--hover: #330066;
  --tertiary-color: #f25757;
  --tertiary-color--hover: #f33c3c;
  --quaternary-color: #e6e1ec;
}
html {
  scroll-behavior: smooth;
}
*:target,
*:focus {
  outline: transparent !important;
}
a,
button {
  text-decoration: none !important;
  -webkit-transition: 0.22s;
}
a *:not(g, path),
button *:not(g, path) {
  transition: 0.15s;
}
a::after,
a::before {
  -webkit-transition: 0.3s;
}
a:hover::after,
a:hover::before {
  transition: 0.3s;
}
a:hover,
button:hover {
  transition: 0.15s;
}
a:hover *:not(g, path),
button:hover *:not(g, path) {
  transition: 0.15s;
}
ol,
ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.cep-mask,
.cpf-mask,
.cvv-mask,
.phone-mask,
.number-mask,
.date-mask {
  display: block;
}
.bt {
  height: 60px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  gap: 10px;
  color: #ffffff;
}
.bt:hover {
  color: #fff;
}
.bt--primary {
  background-color: var(--tertiary-color);
}
.bt--primary:hover {
  background-color: var(--tertiary-color--hover);
}
.bt--secondary {
  background-color: var(--secondary-color);
}
.bt--secondary:hover {
  background-color: var(--secondary-color--hover);
}
body {
  background-color: #fdfdfd;
}
.container_umbrella {
  max-width: 1380px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
header {
  padding: 15px 0;
}
header .container_umbrella {
  display: flex;
  justify-content: space-between;
}
header img {
  display: block;
  max-width: 220px;
  width: 100%;
}
header .itens {
  display: flex;
  align-items: center;
  gap: 2.4vw;
}
header .itens a {
  font-size: 20px;
  color: #000000;
}
#banner {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 196px;
  position: relative;
}
#banner .title {
  display: flex;
  position: relative;
  justify-content: center;
}
#banner .title h1 {
  text-align: center;
  color: #ffffff;
  line-height: normal;
}
#banner .title h1 span {
  color: var(--secondary-color);
}
#banner .title .underline {
  position: relative;
}
#banner .title .underline img {
  position: absolute;
  bottom: -10px;
  right: 0;
}
#banner .title .aviao {
  display: block;
  width: 18vw;
  position: absolute;
  left: -7.8vw;
  top: -15px;
}
#banner .title .carimbo {
  display: block;
  width: 11.72vw;
  position: absolute;
  right: -4vw;
  top: -30px;
}
#banner .title + * {
  margin-top: 52px;
}
#banner .video {
  width: 100%;
  aspect-ratio: 1.77;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -145px;
  position: relative;
  z-index: 2;
  vertical-align: bottom;
}
#banner .img_bottom_banner {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
}
#quem-somos {
  padding-top: 190px;
}
#quem-somos .container_umbrella {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}
#quem-somos .text {
  padding-bottom: 30px;
}
#quem-somos .text h2 {
  color: var(--secondary-color);
  position: relative;
  display: inline-block;
}
#quem-somos .text h2 img {
  position: absolute;
  width: 34px;
  right: -16px;
  top: -6px;
}
#quem-somos .text h2 + * {
  margin-top: 24px;
}
#quem-somos .text p {
  margin-bottom: 0;
}
#quem-somos .text p + * {
  margin-top: 26px;
}
#quem-somos .image {
  display: block;
  width: 554px;
}
#registro_marca {
  background-color: var(--quaternary-color);
  width: 100%;
  padding-top: 74px;
  padding-bottom: 80px;
  text-align: center;
}
#registro_marca .container_umbrella {
  max-width: 1430px;
}
#registro_marca .container_umbrella p {
  max-width: 890px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}
#registro_marca h2 {
  color: var(--secondary-color);
  margin-bottom: 0;
}
#registro_marca h2 + * {
  margin-top: 25px;
}
#registro_marca .top p {
  max-width: 890px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#registro_marca .content {
  display: flex;
}
#registro_marca .content .box-left,
#registro_marca .content .box-right {
  position: relative;
  z-index: 2;
}
#registro_marca .content .box-left {
  display: flex;
  align-items: flex-end;
}
#registro_marca .content .box-middle {
  position: relative;
  z-index: 1;
  background-image: url(../images/registro-de-marca-bg.png);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  min-height: 384px;
  margin-left: -128px;
  margin-right: -110px;
  padding-bottom: 22px;
}
#registro_marca .content .box-middle p {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  line-height: 1.33;
}
#registro_marca .content .box-middle p + * {
  margin-top: 60px;
}
#triade {
  background-color: var(--primary-color);
  max-width: 1920px;
  height: 591px;
}
#triade .container_umbrella {
  display: flex;
  gap: 20px;
}
#triade .square {
  display: grid;
  max-width: 430px;
  width: 100%;
  height: 356px;
  background-color: #fdfdfd;
  justify-items: center;
  align-items: center;
}
#triade .square h3 {
  margin: 0;
  color: var(--secondary-color);
}
#triade .square p {
  text-align: center;
}
@media only screen and (max-width: 1600px) {
  .container_umbrella {
    max-width: 1300px;
  }
  header .logo {
    max-width: 182px;
  }
  #banner .title .aviao {
    top: 30px;
  }
  #banner .title .carimbo {
    top: 30px;
  }
}
@media only screen and (max-width: 1400px) {
  .container_umbrella {
    max-width: 1200px;
  }
  header .logo {
    max-width: 152px;
  }
  header .itens {
    gap: 2.6vw;
  }
  header .itens a {
    font-size: 18px;
  }
  #banner {
    padding-top: 150px;
  }
  #banner .underline img {
    width: 220px;
  }
  #banner .title .aviao {
    left: -2.8vw;
  }
  #banner .title .carimbo {
    right: 2vw;
  }
  #quem-somos .image {
    width: 500px;
  }
  #registro_marca .container_umbrella {
    max-width: 1320px;
  }
  #registro_marca .content .box-left {
    bottom: 30px;
  }
  #registro_marca .content .box-middle {
    padding-bottom: 38px;
  }
}
@media only screen and (max-width: 1024px) {
  .container_umbrella {
    max-width: 900px;
  }
  .bt {
    height: 50px;
    font-size: 14px;
  }
  .whattsapp {
    width: 18px;
  }
  .titulo-2 {
    font-size: 40px;
  }
  .paragrafo-1 {
    font-size: 22px;
  }
  .paragrafo-2 {
    font-size: 15px;
  }
  header .itens {
    gap: 1.8vw;
  }
  header .itens a {
    font-size: 14px;
    font-weight: 700;
  }
  #banner {
    padding-top: 100px;
  }
  #banner h1 {
    font-size: 50px;
  }
  #banner .underline img {
    width: 180px;
  }
  #quem-somos .text p {
    font-size: 11px;
  }
  #quem-somos .image {
    width: 380px;
  }
  #registro_marca {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #registro_marca .container_umbrella {
    max-width: 900px;
  }
  #registro_marca .container_umbrella .content .box-left {
    bottom: 120px;
    left: -50px;
  }
  #registro_marca .container_umbrella .content .box-left img {
    width: 120px;
  }
  #registro_marca .container_umbrella .content .box-middle {
    padding-bottom: 110px;
  }
  #registro_marca .container_umbrella .content .box-middle p + * {
    margin-top: 30px;
  }
  #registro_marca .container_umbrella .content .box-right {
    right: -40px;
  }
  #registro_marca .container_umbrella .content .box-right img {
    width: 150px;
  }
  #registro_marca .container_umbrella .p_bot {
    margin-top: -75px;
  }
}
